@import 'variables';


.btn{
  border: none;
  color:white;
  border-radius: $radius;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;

  img{
    float:left;
    // width: 1rem;
    height: 1rem;
  }

  span{
    font-weight: 700;
  }

  &:hover{
    opacity: .85
  }

  &.facebook{
    background:$facebook;
    img{
      padding-left: 4px
    }

  }
  &.google{
    background:$google;
    border:$border;
    color:$black;

  }
  &.btnblock{
    width: 100%;display: block;
  }
}

#filter {
  aside{
    button{
      width: 100%;
      background: none;
      color: $grey;
      border:1px solid $bordercolor;
    }
  }
}
