@import 'variables';

nav{
  position: fixed;
  top:0;
  z-index: 800;
  background: linear-gradient(to top right, #7474bf, #348ac7);
  width: 100%;
  border-bottom: 2px solid $bordercolor;

  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }

  form{
    display: flex;
    align-items: center;

    img{
      width: 2rem;
      height: 2rem;
      color:white;
    }
    input{
      font-size: 2rem;
      background: none;
      color:white;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $bordercolor;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $bordercolor;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $bordercolor;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $bordercolor;
      }
    }
  }

  ul{
    display: flex;
    li{
      padding:1rem 0;
      font-size: 1rem;
      margin-right: 2rem;
      font-weight: 100;
      color:white;
      // &.active{
      //   color:$brand;
      // }
    }
  }
}
