@import 'variables';


ul.cards,ul.books{
  li{
    background: white;
    border:$border;
    border-radius: $radius;
    transition: .2s all;
    position: relative;
    // &:hover{
    //   filter:grayscale(.5);
    // }
    img{
      width: calc(100% + 2px);
      object-fit: cover;
      margin:-1px;
    }
    figcaption{
      padding: 1rem 1.5rem;
    }
    h3,h4,h5{
      margin:.5rem 0;
      font-weight: 300;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }
}

ul.cards{
  li{
    &:hover{
      > ul li{
        opacity: 1;
      }
      .avatar{
        display: block;
      }
    }
    .avatar{
      display: none;
      position: absolute;
      top:1rem;
      left:1rem;
      .aimg{
        width: 4rem;
        height: 4rem;
        border-radius: 50px;
        border:5px solid white;
      }

    }
    img{
      height: 280px;
      border-radius: 4px 4px 0 0;
    }
    h3{
      font-size: 1.7rem;
      line-height: 2rem;
    }  
    ul{
      border-top: 1px dashed #e9e9e9;
      // background: #e9e9e9;
      display: flex;
      justify-content: space-around;
      align-items: center;
      cursor: default;
      li{
        background: none;
        border:none;
        opacity: .5;
        padding: 1rem;
        display: flex;
        align-items: center;

        span{
          h5,h6{
            margin:0;
            line-height: 1rem;
          }
          h5{
            font-weight: 500;
          }
          h6{
            color:$grey;
            font-size: .6rem;
          }
        }

        img{
          width: 1.8rem;
          height: 1.8rem;
          opacity: .6;
          margin-right: .5rem;
        }
      }
    }
  }
}

ul.books{
  -webkit-columns: 3;
  -webkit-column-break-inside: avoid;
  li{
    margin-bottom: 1rem;
    width: 100%;
    display: inline-block;
    img{
    }
    h4{
      color:$black;
      font-size: 22px;
    }
    h5{
      color:$grey;
      font-size: 17px
    }
    section{
      border-top:1px dashed #e9e9e9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      h6{
        font-size: 22px;
        font-weight: 500;
        margin:1rem 1.5rem;
      }
    }
  }
}
