@import 'variables';

*{
  box-sizing: border-box;
}

body{
  margin:0;
  background:#fafafa;
  font-family: system-ui, helvetica, arial, sans-serif;
  color:#333;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: 300
}

ul{
  margin:0;
  padding: 0;
  li{
    list-style: none;
  }
}

figure{
  margin:0;
}

a:link,a:visited,a:hover,a:active {
    text-decoration: none;
    color:initial;
}

img{
  vertical-align: middle;
}


.content{
  margin: 12rem 5rem 5rem;
}

#emptypage{
  height: calc(100vh - 116px);
}

.vhc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tc{
  text-align: center;
}
