aside{
  margin-right: 3rem;
  background: white;
  border:$border;

  form{
    margin-bottom: .2rem;
  }
  label{
    color: $black;
    font-weight: 100;
  }

  ul{
    padding:0 2rem;
    li{
      padding-top: .5rem;
      margin-bottom: 2rem;
      border-top:1px dashed $bordercolor;
      &:first-child{
        margin-top: 0;
        border-top:0;
      }
    }
  }
}

#owncatalogue{
  padding: 1.5rem 2rem 1rem;
  border-bottom: $border;
  form{
    margin-bottom: 0;
  }
}
