@import 'variables';


input{
  padding: 1rem;
  border:$border;
  outline:none;
  font-size: initial;
}

nav input{
  border:none,
}



// https://codepen.io/AntoineBoulanger/pen/uBJmi

// Minimal Form Generic: Resets
input, select, textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	outline: none;
  font-size: initial;
	border: none;
  font-weight: 100;
  color:$black;
	border-radius: 0;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}



// .input, .checkbox-label {
// 	margin-bottom: 1rem;
// }

// Minimal Form Objects: Styles
// Label
.label {
	display: block;
	margin-bottom: 0.5rem;
}

// Input
.input {
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: $bordercolor;
	background-color: white;

	// &:focus {
	// 	border-color: gray;
	// }

	&::placeholder {
		color: gray;
	}
}


// Checkbox
.checkbox {
	position: absolute;
	width: auto;
	opacity: 0;

	&:focus {
		+ .checkbox-label {
			&:before, &:after {
				border-color: $bordercolor;
			}
		}
	}

	&:checked {
		+ .checkbox-label {
			&:after {
				opacity: 1;
			}
      &:after{
        background-size: 20px;
      }
		}
	}
}

.checkbox-label {
	@extend .label;

	position: relative;
	display: inline-block;
	margin-right: 0.5rem;
	padding-left: (22px + 10px);

	&:before, &:after {
		@extend .input;

		position: absolute;
		top: 50%;
		left: 0;
		display: inline-block;
		margin-top: -(18px / 2);
		padding: 0;
		width: 18px;
		height: 18px;
		content: "";
	}

	&:after {
		border-color: transparent;
		background-color: transparent;
		background-image: url("../img/icons/checkmark.svg");
		background-position: center;
		background-size: 10px;
		background-repeat: no-repeat;
		opacity: 0;
	}
  &.checked{
    color:#ddd;
    text-decoration:line-through;
  }
}

// Radio
.radio {
	@extend .checkbox;
}

.radio-label {
	@extend .checkbox-label;

	&:before, &:after {
		border-radius: 50%;
	}

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20enable-background%3D%22new%200%200%2013%2013%22%20xml%3Aspace%3D%22preserve%22%3E%3Ccircle%20fill%3D%22%23424242%22%20cx%3D%226.5%22%20cy%3D%226.5%22%20r%3D%226.5%22%2F%3E%3C%2Fsvg%3E");
		background-size: 8px;
	}
}

// Select
.select {
	@extend .input;

	position: relative;
	z-index: 1;
	padding-right: 40px;

	&::-ms-expand {
		display: none;
	}
}

.select-wrap {
	position: relative;

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		padding: 0 15px;
		width: 10px;
		height: 100%;
		background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2211.3%22%20viewBox%3D%220%200%2013%2011.3%22%20enable-background%3D%22new%200%200%2013%2011.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20fill%3D%22%23424242%22%20points%3D%226.5%2011.3%203.3%205.6%200%200%206.5%200%2013%200%209.8%205.6%20%22%2F%3E%3C%2Fsvg%3E");
		background-position: center;
		background-size: 10px;
		background-repeat: no-repeat;
		content: "";
		pointer-events: none;
	}
}

// Textarea
.textarea {
	@extend .input;
	min-height: 100px;
	resize: vertical;
}


// Rangeslider

// https://codepen.io/seanstopnik/pen/CeLqA


.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  display: inline;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $brand;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #f96;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #f96;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: $brand;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #f96;
}
.range-slider__range:active::-moz-range-thumb {
  background: #f96;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  // color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  // background: #2c3e50;
  border:1px solid $bordercolor;
  padding: 5px 10px;
  margin-left: 8px;
}
// .range-slider__value:after {
//   position: absolute;
//   top: 8px;
//   left: -7px;
//   width: 0;
//   height: 0;
//   border-top: 7px solid transparent;
//   border-right: 7px solid $brand;
//   border-bottom: 7px solid transparent;
//   content: '';
// }

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
