#login{
  background: white;
  border:$border;
  width: 600px;

  text-align: center;

  section{
    padding: 1rem;
  }

  button:first-child{
    margin-bottom: 1rem
  }
  p{
    padding:1rem 0 2rem;
  }
  span p{
    color:$grey;
    padding:2rem 1rem 1rem;
    margin: 0;
    font-style: italic;
    font-size: 12px;
  }
  figure{
    background: $gradient;
    height:6px;
  }
}
