@import 'variables';

nav{
  position: fixed;
  top:0;
  z-index: 800;
  background: $gradient;
  // background: linear-gradient(to right, #06beb6, #48b1bf);
  width: 100%;

  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }

  form{
    display: flex;
    align-items: center;

    img{
      width: 2rem;
      height: 2rem;
      color:white;
    }
    input{
      font-size: 2rem;
      font-weight: 300;
      background: none;
      color:white;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $bordercolor;font-weight: 100;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $bordercolor;font-weight: 100;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $bordercolor;font-weight: 100;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $bordercolor;font-weight: 100;
      }
    }
  }

  ul{
    display: flex;
    li{
      padding:1rem 0;
      font-size: 1rem;
      margin-right: 2rem;
      font-weight: 100;
      color:white;
      &.active{
        // color:$brand;
        // text-decoration: underline;
      }
    }
  }
}
