@import 'variables';

nav{
  position: fixed;
  top:0;
  z-index: 800;
  background: white;
  border-bottom: 2px solid $bordercolor;
  // background: linear-gradient(to right, #06beb6, #48b1bf);
  width: 100%;

  #colorbar{
    height: 10px;
    background: $gradient;
  }

  .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
  }

  form{
    display: flex;
    align-items: center;

    img{
      width: 2rem;
      height: 2rem;
      // color:white;
    }
    input{
      font-size: 2rem;
      font-weight: 300;
      background: none;
      // color:white;
      &::-webkit-input-placeholder {
        color: #ddd;font-weight: 100;
      }
      &::-moz-placeholder {
        color: #ddd;font-weight: 100;
      }
      &:-ms-input-placeholder{
        color: #ddd;font-weight: 100;
      }
      &:-moz-placeholder {
        color: #ddd;font-weight: 100;
      }
    }
  }

  ul{
    display: flex;
    li{
      padding:1rem 0;
      font-size: 1rem;
      margin-right: 2rem;
      font-weight: 100;
      border-radius: $radius;
      // color:white;
      
      &.active{
        display: inline-block;
        position: relative;
        color:$brand;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            display: inline-block;
            height: 1em;
            width: 100%;
            border-bottom: 1px solid;
            margin-top: .5rem;
        }
      }
    }
  }
}
