@import 'variables';


body#recipe{
  #d{
    background: none;
    border-bottom: none;
    ul{
      li{
        color: white;
      }
    }
  }
  .content{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 350px 1fr;
    // max-width: 1250px;
    // margin:5rem auto;
    #ingredients{
      background: white;
      border: $border;
      margin-right: 3rem;
      .quantity{
        border-bottom: $border;
        padding: 1rem 1.5rem;
      }
      ul{
        padding: 1rem 1.5rem;
        li{
          font-weight: 100;
          padding: .5rem;
        }
      }
    }
    #recipecontent{
      p{
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

  }
}


#hero{
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
  object-fit: cover;
  object-position: center;
  background: black;
  text-align: center;
  figcaption{
    position: absolute;
    width: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    h1{
      color:white;
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 100;
    }
    h2{
      color: white;
      font-weight: 100;
      font-size: 2rem;
      line-height: 2rem;
      a{
        font-weight: 300;
        color: white;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid white;
        }
      }
    }
  }
  img{
    width: 100%;
    opacity: .4;
    object-fit: cover;
    height: 100%;
  }
}

#info{
  height: 75px;
  background: $bordercolor;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
    #cook{
      width: 75px;
      height: 75px;
      object-fit: cover;
      opacity: 1;
    }
    ul{
      li{
        display: inline-block;
        // border-right: 1px solid #ddd;
        // &:last-child{
        //   border:none;
        // }
        p{
          margin:0 1rem;
          color:#575757;
          display: block;
          padding: 1rem 0;
        }
        a{
          &.sfl p:after,&.atf p:after{
            content: url('../img/icons/heart-empty.svg');
            padding-left: 1rem;
            vertical-align: -webkit-baseline-middle;
            opacity: .6;
          }
          &.atf p:after{
            content: url('../img/icons/add.svg');
          }
          &.sfl:hover{
            p{
              color: $black;
              &:after{
                content: url('../img/icons/heart.svg');
                opacity: .95;
              }
            }
          }
          &.atf:hover{
            p{
              color: $black;
              &:after{
                content: url('../img/icons/add-hover.svg');
                opacity: .95;
              }
            }
          }
        }
        img{
          opacity: .6;
        }
      }
    }

    ul#data{
      display: flex;
      opacity: .8;
      li{
        display: flex;
        margin: 0 2rem;
        span{
          h5,h6{
            margin:0;
            line-height: 1rem;
          }
          h5{
            font-weight: 500;
          }
          h6{
            color:$grey;
            font-size: .6rem;
          }
        }

        img{
          width: 1.8rem;
          height: 1.8rem;
          opacity: .6;
          margin-right: .5rem;
        }
      }

    }
}

.timer{
  background: $grey;
  color:white;
  border-radius: $radius;
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
}
