@import 'variables';


body#recipe{
  #d{
    background: none;
    border-bottom: none;
    ul{
      li{
        color: white;
      }
    }
  }
  .content{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 350px 1fr;
    #ingredients{
      background: white;
      border: $border;
      margin-right: 3rem;
      .quantity{
        border-bottom: $border;
        padding: 1rem 1.5rem;
      }
      ul{
        padding: 1rem 1.5rem;
        li{
          font-weight: 100;
          padding: .5rem;
        }
      }
    }
    #recipecontent{
      p{
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }

  }
}


#hero{
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
  object-fit: cover;
  object-position: center;
  background: black;
  text-align: center;
  figcaption{
    position: absolute;
    width: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    h1{
      color:white;
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 100;
    }
    h2{
      color: white;
      font-weight: 100;
      font-size: 2rem;
      line-height: 2rem;
      a{
        font-weight: 300;
        color: white;
        cursor: pointer;
        &:hover{
          border-bottom: 1px solid white;
        }
      }
    }
  }
  img{
    width: 100%;
    opacity: .4;
    object-fit: cover;
    height: 100%;
  }
}

ul#info{
  height: 75px;
  background: $bordercolor;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 80px 1fr 1fr;
  grid-gap: 1rem;
  li{
    display: flex;
    align-items: center;
    text-align: center;
    border-right: 1px solid #ddd;
    &:last-child{
      border-right: none;
    }
    p{
      width: 100%;
    }
    #cook{
      width: 75px;
      height: 75px;
      object-fit: cover;
    }

  }
}
