@import 'variables';


body#recipe{
  #d{
    background: none;
    border-bottom: none;
    ul{
      li{
        color: white;
      }
    }
  }
  .content{
    margin-top: 5rem;
  }
}


#hero{
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
  object-position: center;
  background: black;
  text-align: center;
  figcaption{
    position: absolute;
    width: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    h1{
      color:white;
      font-size: 7rem;
      line-height: 7rem;
      font-weight: 100;
    }
    h2{
      color: white;
      font-weight: 300;
      span{
        font-weight: 100;
      }
    }
  }
  img{
    width: 100%;
    opacity: .5;
    object-fit: cover;
    height: 100%;
  }
}
