// COLORS
$black:#333;
$grey:#777;
$bg:#fafafa;
$bordercolor:#e9e9e9;

// $brand:#01579B;

$gradient:linear-gradient(to right, #ff9966, #ff5e62);


$facebook:#365899;
$google:#fff;

// VARIOUS
$border:1px solid $bordercolor;
$radius:4px;
